body{
    margin: 0;
    background-color:#ffefb7;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    background-color: #000000;
    border-radius: 100%;
    margin-top: 2%;
    width: 700px;
    height: 700px;
    filter:drop-shadow(8px 8px 10px rgb(59, 59, 59));
}

.blue {
    grid-area: azul;
    background-color: #141414;
    border-bottom-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 0%, transparent, transparent 120px, blue 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
   
}

.red {
    grid-area: vermelho;
    background-color: #141414;
    border-top-right-radius: 100%;
    background: radial-gradient(circle 1px at -5% 105%, transparent, transparent 120px, red 100px);
    background-size: 100% 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    }
    
    .yellow {
        grid-area: amarelo;
        background-color: #141414;
        border-bottom-left-radius: 100%;
        background: radial-gradient(circle 1px at 105% 0%, transparent, transparent 120px, yellow 100px);
        background-size: 100% 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
      
    }
        
        .green {
        grid-area: verde;
        background-color: #141414;
        border-top-left-radius: 100%;
        background: radial-gradient(circle 1px at 105% 105%, transparent, transparent 120px, green 100px);
        background-size: 100% 100%;
        background-position: 0 0, 100% 0;
        background-repeat: no-repeat;
        
        }
            
.selected {
    opacity: 0.6;
}                      